{% extends 'layouts/main.html' %}
{% block title %}Vino Cellar | New Vino{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new wine</h3>
      <div class="form-group">
        <label for="name">Wine Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="year">Wine Vintage</label><br/>
          {{ form.year(class_ = 'form-control', value=2015, type='number') }}
      </div>
      <div class="form-group">
        <label for="type">Wine Type</label>
        <select class="form-control" id="type" name="type" required="">
          {% for type in types %}
          <option value={{ type.id }}>{{ type.type }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="varietal">Varietals</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.varietal(class_ = 'form-control') }}
      </div>
      <div class="form-group">
        <label for="style">Wine Style</label>
        {{ form.style(class_ = 'form-control') }}
      </div>
      <div class="form-group">
          <label for="abv">Wine ABV %</label><br/>
          {{ form.abv(class_ = 'form-control', value=10, type='decimal') }}
      </div>
      <div class="form-group">
          <label for="image_link">Wine Image Link</label>
          {{ form.image_link(class_ = 'form-control', placeholder='http://', type='url') }}
        </div>
      {{ form.vintner_id(class_ = 'form-control', type='hidden', value=vintner_id)}}
      {{ form.creation_date(class_ = 'form-control', type='hidden')}}
      <input type="submit" value="Create Vino" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
